<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/faviconbook.png" type="image/x-icon">
    <title>ぷち伝記</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="<%= request.original_url %>" />
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : "ぷち伝記" %>" />
    <meta name="twitter:description" content="ぷち伝記を読んで、偉人について学ぼう！" />
    <meta name="twitter:image" content="<%= image_url('petitedenki.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header_logo">
        <%= link_to "ぷち伝記", root_path %>
      </div>
      <div class="credit">
        ⓒ 2024 とほほ
      </div>
    </header>
    <%= yield %>
  </body>
</html>
